<div *ngIf="resultPage == false; else result">
  <button type="button" class="btn btn-primary" >Solve</button>
  <app-graph
    [branches]="branches"
    [nodes]="nodes"
    [zoomToFit$]="zoomToFit$"
    [selectedNodeId]="selectedNodeId"
    (onNodeClick)="onNodeClick($event)"
  ></app-graph>

  <button (click)="addNode()">Add Node</button>
  <br />

  <div id="branch">
    <h1>Add branch</h1>

    <label>Gain:</label>
    <input type="number" [(ngModel)]="gain" />

    <button (click)="addBranch()" [disabled]="branchBtnDisabled()">
      Select branch nodes
    </button>

    <div *ngIf="addingBranchIsActive">
      <div *ngIf="selectedNodeId == null; else selectSecond">
        Select the first node by clicking on it on the graph
      </div>
      <ng-template #selectSecond> Select the target node </ng-template>
    </div>
  </div>

  <br />
  <button (click)="clearGraph()">Clear graph</button>
  <button (click)="getResult()">Calculate Transfer Function</button>
</div>


<ng-template #result>
  <app-result></app-result>
</ng-template>